.spotlight { 
    margin-top: 15px;
    border: 2px solid white;
    width: 80%;
    display: inline-flex;
    flex-wrap: wrap;
}

.items {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 2px solid white;
}

.items h4{
   margin-left: 5px;
}

.items img{
    border-left: 2px solid white;
}

.discription {
    margin-left: 5px;
    color: white;
    min-height: 50px;
}